<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kurslar</title>
    <link
      rel="icon"
      href="assets/img/favicon.png"
      sizes="20x20"
      type="image/png"
    />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="assets/css/vendor.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
  </head>

  <body>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
      <div class="preloader-inner">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div>
    <!-- preloader area end -->

    <!-- search popup start-->
    <div class="td-search-popup" id="td-search-popup">
      <form action="index.html" class="search-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Ara..." />
        </div>
        <button type="submit" class="submit-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    <!-- search popup end-->
    <div class="body-overlay" id="body-overlay"></div>

    <!-- navbar start -->
    <div class="navbar-area">
      <!-- navbar top start -->
      <div class="navbar-top">
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-md-left text-center">
              <ul>
                <li>
                  <p>
                    <i class="fa fa-map-marker"></i> Kuştepe, İnönü Cd. NO:22,
                    34000 Şişli/İstanbul
                  </p>
                </li>
                <li>
                  <p><i class="fa fa-envelope-o"></i> bilgi@dileregitim.com</p>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="topbar-right text-md-right text-center">
                <li class="social-area">
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                  <a href="#"
                    ><i class="fa fa-instagram" aria-hidden="true"></i
                  ></a>
                  <a href="#"
                    ><i class="fa fa-pinterest" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar bg-white navbar-area-1 navbar-area navbar-expand-lg">
        <div class="container nav-container">
          <div class="responsive-mobile-menu">
            <button
              class="menu toggle-btn d-block d-lg-none"
              data-target="#edumint_main_menu"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-left"></span>
              <span class="icon-right"></span>
            </button>
          </div>
          <div class="logo">
            <a href="index.html"><img src="assets/img/logo.png" alt="img" /></a>
          </div>
          <div class="collapse navbar-collapse" id="edumint_main_menu">
            <ul class="navbar-nav menu-open">
              <li class="menu-item-has-children current-menu-item">
                <a href="index.html">Anasayfa</a>
              </li>
              <li class="menu-item-has-children">
                <a href="course.html">Kurslar</a>
              </li>
              <li class="menu-item-has-children">
                <a href="about.html">Hakkımızda</a>
              </li>
              <li class="menu-item-has-children">
                <a href="team.html">Eğitmenler</a>
              </li>
              <li><a href="contact.html">İletişim</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- navbar end -->

    <!-- breadcrumb start -->
    <div
      class="breadcrumb-area bg-overlay"
      style="
        background-image: url('https://solverwp.com/demo/html/edumint/assets/img/bg/3.png');
      "
    >
      <div class="container">
        <div class="breadcrumb-inner">
          <div class="section-title mb-0 text-center">
            <h2 class="page-title">Kurslar</h2>
            <ul class="page-list">
              <li><a href="index.html">Anasayfa</a></li>
              <li>Kurslar</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- breadcrumb end -->

    <!-- blog area start -->
    <div class="blog-area pd-top-120 pd-bottom-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 order-lg-12">
            <div class="row courses-container"></div>
            <nav class="td-page-navigation">
              <ul class="pagination">
                <li class="pagination-arrow">
                  <a href="#"><i class="fa fa-angle-double-left"></i></a>
                </li>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">3</a></li>
                <li class="pagination-arrow">
                  <a href="#"><i class="fa fa-angle-double-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-4 order-lg-1 col-12">
            <div class="td-sidebar mt-5 mt-lg-0">
              <div class="widget widget_search_course">
                <h4 class="widget-title">Ara</h4>
                <form class="search-form single-input-inner">
                  <input type="text" placeholder="Search here" />
                  <button class="btn btn-base w-100 mt-3" type="submit">
                    <i class="fa fa-search"></i> ARA
                  </button>
                </form>
              </div>
              <div class="widget widget_catagory">
                <h4 class="widget-title">Kategori</h4>
                <ul class="catagory-items">
                  <li>
                    <a href="#">Tasarım<i class="fa fa-caret-right"></i></a>
                  </li>
                  <li>
                    <a href="#">Yazılım<i class="fa fa-caret-right"></i></a>
                  </li>
                  <li>
                    <a href="#">Pazarlama<i class="fa fa-caret-right"></i></a>
                  </li>
                  <li>
                    <a href="#">İşletme<i class="fa fa-caret-right"></i></a>
                  </li>
                </ul>
              </div>
              <div class="widget widget_checkbox_list">
                <h4 class="widget-title">Seviye</h4>
                <label class="single-checkbox">
                  <input type="checkbox" checked="checked" />
                  <span class="checkmark"></span>
                  Başlangıç
                </label>
                <label class="single-checkbox">
                  <input type="checkbox" />
                  <span class="checkmark"></span>
                  Orta
                </label>
                <label class="single-checkbox">
                  <input type="checkbox" />
                  <span class="checkmark"></span>
                  İleri
                </label>
              </div>
              <div class="widget widget_tags mb-0">
                <h4 class="widget-title">Etiketler</h4>
                <div class="tagcloud">
                  <a href="#">Sanat</a>
                  <a href="#">Yaratıcı</a>
                  <a href="#">Yazılım</a>
                  <a href="#">Tasarım</a>
                  <a href="#">Portfolyo</a>
                  <a href="#">İşletme</a>
                  <a href="#">İstatistik</a>
                  <a href="#">Proje</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- blog area end -->

    <!-- footer area start -->
    <footer class="footer-area bg-gray">
      <div class="footer-subscribe">
        <div class="container">
          <form class="footer-subscribe-inner">
            <div class="row">
              <div class="col-lg-5">
                <div class="single-input-inner style-border-bottom">
                  <input type="text" placeholder="Ad-Soyad" />
                </div>
              </div>
              <div class="col-lg-5">
                <div class="single-input-inner style-border-bottom">
                  <input type="text" placeholder="E-posta Adresi" />
                </div>
              </div>
              <div class="col-lg-2">
                <a class="btn btn-base" href="#">Abone ol</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="widget widget_contact">
                <h4 class="widget-title">İletişime Geç</h4>
                <ul class="details">
                  <li>
                    <i class="fa fa-map-marker"></i> Kuştepe, İnönü Cd. NO:22
                    34000 Şişli/İstanbul
                  </li>
                  <li><i class="fa fa-envelope"></i> bilgi@dileregitim.com</li>
                  <li><i class="fa fa-phone"></i> (0212) 506 46 76</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="widget widget_nav_menu">
                <h4 class="widget-title">Eğitimler</h4>
                <ul>
                  <li><a href="course.html">Marka Tasarımı</a></li>
                  <li><a href="course.html">UI/UX Tasarımı </a></li>
                  <li><a href="course.html">Yazılım</a></li>
                  <li><a href="course.html">İş Planlama</a></li>
                  <li><a href="course.html">Grafik Tasarım</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="widget widget_contact">
                <h4 class="widget-title">Gönderiler</h4>
                <ul class="details">
                  <li>
                    <i class="fa fa-twitter"></i>
                    Simply dummy brand <br />
                    <a href="#">sosyal medya linki</a>
                    <div class="time">9 saat önce</div>
                  </li>
                  <li>
                    <i class="fa fa-twitter"></i>
                    Simply dummy brand <br />
                    <a href="#">sosyal medya linki</a>
                    <div class="time">9 saat önce</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 align-self-center">
              <a href="index.html"
                ><img src="assets/img/footer-logo.png" alt="img"
              /></a>
            </div>
            <div
              class="col-lg-4 col-md-6 order-lg-12 text-md-right align-self-center"
            >
              <ul class="social-media mt-md-0 mt-3">
                <li>
                  <a class="facebook" href="#"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                </li>
                <li>
                  <a class="pinterest" href="#"
                    ><i class="fa fa-pinterest"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div
              class="col-lg-4 order-lg-8 text-lg-center align-self-center mt-lg-0 mt-3"
            >
              <a href=""
                ><img src="assets/img/dw-logo.svg" height="56px" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="back-to-top">
      <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->

    <!-- all plugins here -->
    <script src="assets/js/vendor.js"></script>
    <!-- main js  -->
    <script src="assets/js/main.js"></script>
    <!-- course -->
    <script src="assets/js/course.js"></script>
  </body>
</html>
