<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Eğitmenlerimiz</title>
    <link
      rel="icon"
      href="assets/img/favicon.png"
      sizes="20x20"
      type="image/png"
    />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="assets/css/vendor.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
  </head>

  <body>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
      <div class="preloader-inner">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div>
    <!-- preloader area end -->

    <!-- search popup start-->
    <div class="td-search-popup" id="td-search-popup">
      <form action="index.html" class="search-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Ara..." />
        </div>
        <button type="submit" class="submit-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    <!-- search popup end-->
    <div class="body-overlay" id="body-overlay"></div>

    <!-- navbar start -->
    <div class="navbar-area">
      <!-- navbar top start -->
      <div class="navbar-top">
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-md-left text-center">
              <ul>
                <li>
                  <p>
                    <i class="fa fa-map-marker"></i> Kuştepe, İnönü Cd. NO:22,
                    34000 Şişli/İstanbul
                  </p>
                </li>
                <li>
                  <p><i class="fa fa-envelope-o"></i> bilgi@dileregitim.com</p>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="topbar-right text-md-right text-center">
                <li class="social-area">
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                  <a href="#"
                    ><i class="fa fa-instagram" aria-hidden="true"></i
                  ></a>
                  <a href="#"
                    ><i class="fa fa-pinterest" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar bg-white navbar-area-1 navbar-area navbar-expand-lg">
        <div class="container nav-container">
          <div class="responsive-mobile-menu">
            <button
              class="menu toggle-btn d-block d-lg-none"
              data-target="#edumint_main_menu"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-left"></span>
              <span class="icon-right"></span>
            </button>
          </div>
          <div class="logo">
            <a href="index.html"><img src="assets/img/logo.png" alt="img" /></a>
          </div>
          <div class="collapse navbar-collapse" id="edumint_main_menu">
            <ul class="navbar-nav menu-open">
              <li class="menu-item-has-children current-menu-item">
                <a href="index.html">Anasayfa</a>
              </li>
              <li class="menu-item-has-children">
                <a href="course.html">Kurslar</a>
              </li>
              <li class="menu-item-has-children">
                <a href="about.html">Hakkımızda</a>
              </li>
              <li class="menu-item-has-children">
                <a href="team.html">Eğitmenler</a>
              </li>
              <li><a href="contact.html">İletişim</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-- navbar end -->

    <!-- breadcrumb start -->
    <div
      class="breadcrumb-area bg-overlay"
      style="
        background-image: url('https://solverwp.com/demo/html/edumint/assets/img/bg/3.png');
      "
    >
      <div class="container">
        <div class="breadcrumb-inner">
          <div class="section-title mb-0 text-center">
            <h2 class="page-title">Eğitmenler</h2>
            <ul class="page-list">
              <li><a href="index.html">Anasayfa</a></li>
              <li>Eğitmenler</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- breadcrumb end -->

    <!-- team area start -->
    <div class="team-area pd-top-120 pd-bottom-90">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="single-team-inner">
              <div class="thumb">
                <img
                  src="https://solverwp.com/demo/html/edumint/assets/img/team/1.png"
                  alt="img"
                />
                <div class="social-wrap">
                  <div class="social-wrap-inner">
                    <a class="social-share" href="#"
                      ><i class="fa fa-share-alt"></i
                    ></a>
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="details">
                <h4><a href="#">Doris Jordan</a></h4>
                <span>Tasarım Uzmanı</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-team-inner">
              <div class="thumb">
                <img
                  src="https://solverwp.com/demo/html/edumint/assets/img/team/2.png"
                  alt="img"
                />
                <div class="social-wrap">
                  <div class="social-wrap-inner">
                    <a class="social-share" href="#"
                      ><i class="fa fa-share-alt"></i
                    ></a>
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="details">
                <h4><a href="#">Eugen Freman</a></h4>
                <span>Yönetici</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-team-inner">
              <div class="thumb">
                <img
                  src="https://solverwp.com/demo/html/edumint/assets/img/team/3.png"
                  alt="img"
                />
                <div class="social-wrap">
                  <div class="social-wrap-inner">
                    <a class="social-share" href="#"
                      ><i class="fa fa-share-alt"></i
                    ></a>
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="details">
                <h4><a href="#">Jaction Leo</a></h4>
                <span>Yazılımcı</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-team-inner">
              <div class="thumb">
                <img
                  src="https://solverwp.com/demo/html/edumint/assets/img/team/4.png"
                  alt="img"
                />
                <div class="social-wrap">
                  <div class="social-wrap-inner">
                    <a class="social-share" href="#"
                      ><i class="fa fa-share-alt"></i
                    ></a>
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="details">
                <h4><a href="#">Doris Jordan</a></h4>
                <span>Pazarlama Uzmanı</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-team-inner">
              <div class="thumb">
                <img
                  src="https://solverwp.com/demo/html/edumint/assets/img/team/5.png"
                  alt="img"
                />
                <div class="social-wrap">
                  <div class="social-wrap-inner">
                    <a class="social-share" href="#"
                      ><i class="fa fa-share-alt"></i
                    ></a>
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="details">
                <h4><a href="#">Eugen Freman</a></h4>
                <span>UI/UX Uzmanı</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-team-inner">
              <div class="thumb">
                <img
                  src="https://solverwp.com/demo/html/edumint/assets/img/team/6.png"
                  alt="img"
                />
                <div class="social-wrap">
                  <div class="social-wrap-inner">
                    <a class="social-share" href="#"
                      ><i class="fa fa-share-alt"></i
                    ></a>
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="details">
                <h4><a href="#">Jaction Leo</a></h4>
                <span>İstatistik</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- team area end -->

    <!-- counter area start -->
    <div class="counter-area bg-gray">
      <div class="container">
        <div
          class="counter-area-inner pd-top-110 pd-bottom-120"
          style="
            background-image: url('https://solverwp.com/demo/html/edumint/assets/img/other/1.png');
          "
        >
          <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
              <div class="section-title mb-0">
                <h6 class="sub-title right-line">Hakkımızda</h6>
                <h2 class="title">Güç sayılarda</h2>
                <p class="content pb-3">
                  The quick, brown fox jumps over a lazy dog. DJs flock by when
                  MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds
                  jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick
                  jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs
                  jumpy
                </p>
                <div class="btn-counter bg-base mt-4">
                  <h3 class="left-val align-self-center">
                    <span class="counter">2.4</span>k+
                  </h3>
                  <div class="right-val align-self-center">
                    Başarılı <br />
                    öğrenci
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 align-self-center">
              <ul class="single-list-wrap">
                <li class="single-list-inner style-box-bg">
                  <div class="media">
                    <div class="media-left">
                      <img
                        src="https://solverwp.com/demo/html/edumint/assets/img/icon/1.png"
                        alt="img"
                      />
                    </div>
                    <div class="media-body align-self-center">
                      <h5><span class="counter">1200</span>+</h5>
                      <p>Anlık öğrenci</p>
                    </div>
                  </div>
                </li>
                <li class="single-list-inner style-box-bg">
                  <div class="media">
                    <div class="media-left">
                      <img
                        src="https://solverwp.com/demo/html/edumint/assets/img/icon/2.png"
                        alt="img"
                      />
                    </div>
                    <div class="media-body align-self-center">
                      <h5><span class="counter">320</span>+</h5>
                      <p>Kurs</p>
                    </div>
                  </div>
                </li>
                <li class="single-list-inner style-box-bg">
                  <div class="media">
                    <div class="media-left">
                      <img
                        src="https://solverwp.com/demo/html/edumint/assets/img/icon/3.png"
                        alt="img"
                      />
                    </div>
                    <div class="media-body align-self-center">
                      <h5><span class="counter">1340</span>+</h5>
                      <p>Başarılı öğrenci</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- counter area end -->

    <!-- testimonial area start -->
    <div class="testimonial-area pd-top-110 pd-bottom-120">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-7">
            <div class="section-title text-center">
              <h6 class="sub-title double-line">Öğrenci görüşü</h6>
              <h2 class="title">Öğrencilerimiz ne diyor</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="single-testimonial-inner m-0">
              <div class="media testimonial-author mb-4">
                <div class="media-left">
                  <img
                    src="https://solverwp.com/demo/html/edumint/assets/img/author/1.png"
                    alt="img"
                  />
                  <i class="fa fa-quote-left"></i>
                </div>
                <div class="media-body align-self-center">
                  <h6>Eugene Freeman</h6>
                  <p>Tincidunt</p>
                </div>
              </div>
              <span class="testimonial-quote"
                ><i class="fa fa-quote-left"></i
              ></span>
              <p class="mb-0">
                Lorem ipsum dolor sit amet, elitr, sed diam volu sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single-testimonial-inner m-0">
              <div class="media testimonial-author mb-4">
                <div class="media-left">
                  <img
                    src="https://solverwp.com/demo/html/edumint/assets/img/author/2.png"
                    alt="img"
                  />
                  <i class="fa fa-quote-left"></i>
                </div>
                <div class="media-body align-self-center">
                  <h6>Freeman Ugene</h6>
                  <p>Tincidunt</p>
                </div>
              </div>
              <span class="testimonial-quote"
                ><i class="fa fa-quote-left"></i
              ></span>
              <p class="mb-0">
                Lorem ipsum dolor sit amet, elitr, sed diam volu sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- testimonial area end -->

    <!-- footer area start -->
    <footer class="footer-area bg-gray">
      <div class="footer-subscribe">
        <div class="container">
          <form class="footer-subscribe-inner">
            <div class="row">
              <div class="col-lg-5">
                <div class="single-input-inner style-border-bottom">
                  <input type="text" placeholder="Ad-Soyad" />
                </div>
              </div>
              <div class="col-lg-5">
                <div class="single-input-inner style-border-bottom">
                  <input type="text" placeholder="E-posta" />
                </div>
              </div>
              <div class="col-lg-2">
                <a class="btn btn-base" href="#">Abone ol</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="widget widget_contact">
                <h4 class="widget-title">İletişime Geç</h4>
                <ul class="details">
                  <li>
                    <i class="fa fa-map-marker"></i> Kuştepe, İnönü Cd. NO:22
                    34000 Şişli/İstanbul
                  </li>
                  <li><i class="fa fa-envelope"></i> bilgi@dileregitim.com</li>
                  <li><i class="fa fa-phone"></i> (0212) 506 46 76</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="widget widget_nav_menu">
                <h4 class="widget-title">Eğitimler</h4>
                <ul>
                  <li><a href="course.html">Marka Tasarımı</a></li>
                  <li><a href="course.html">UI/UX Tasarımı </a></li>
                  <li><a href="course.html">Yazılım</a></li>
                  <li><a href="course.html">İş Planlama</a></li>
                  <li><a href="course.html">Grafik Tasarım</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="widget widget_contact">
                <h4 class="widget-title">Gönderiler</h4>
                <ul class="details">
                  <li>
                    <i class="fa fa-twitter"></i>
                    Simply dummy brand <br />
                    <a href="#">sosyal medya linki</a>
                    <div class="time">9 saat önce</div>
                  </li>
                  <li>
                    <i class="fa fa-twitter"></i>
                    Simply dummy brand <br />
                    <a href="#">sosyal medya linki</a>
                    <div class="time">9 saat önce</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 align-self-center">
              <a href="index.html"
                ><img src="assets/img/footer-logo.png" alt="img"
              /></a>
            </div>
            <div
              class="col-lg-4 col-md-6 order-lg-12 text-md-right align-self-center"
            >
              <ul class="social-media mt-md-0 mt-3">
                <li>
                  <a class="facebook" href="#"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                </li>
                <li>
                  <a class="pinterest" href="#"
                    ><i class="fa fa-pinterest"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div
              class="col-lg-4 order-lg-8 text-lg-center align-self-center mt-lg-0 mt-3"
            >
              <a href=""
                ><img src="assets/img/dw-logo.svg" height="56px" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="back-to-top">
      <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->

    <!-- all plugins here -->
    <script src="assets/js/vendor.js"></script>
    <!-- main js  -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
